<?xml version="1.0"?>

<model>
    <name>Columns</name>
    <version>1.0</version>
    <sdf version="1.5">model.sdf</sdf>

    <author>
      <name>Claudio Brito</name>
      <email>claudiobrito@eng.ci.ufpb.br</email>
  </author>

    <description>
    Columns of LaSER, from UFPB
  </description>
</model>