<?xml version="1.0"?>

<model>
    <name>Wall</name>
    <version>1.0</version>
    <sdf version="1.5">model.sdf</sdf>

    <author>
        <name>Claudio Brito</name>
        <email>claudiobrito@eng.ci.ufpb.br</email>
    </author>

    <description>
    The benchs in LaSER, from UFPB.
  </description>
</model>