<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">


    <xacro:macro name="omni_wheel" params="prefix pos_X pos_Y pos_Z pos_r pos_p pos_y">
        <joint name="joint_${prefix}_wheel" type="fixed">
            <parent link="carcaca" />
            <child link="${prefix}_wheel" />
            <origin rpy="${pos_r} ${pos_p} ${pos_y}" xyz="${pos_X} ${pos_Y} ${pos_Z}" />
        </joint>

        <gazebo reference="${prefix}_wheel">
            <selfCollide>true</selfCollide>
            <mu1 value="0.09" />
            <mu2 value="0.09" />
            <kp value="10000000.0" />
            <kd value="10000" />
            <fdir1 value="0 0 0" />
        </gazebo>

        <link name="${prefix}_wheel">
            <inertial>
                <mass value="0.01" />
                <origin rpy="0 0 0" xyz="0 0 0" />
                <inertia ixx="1" ixy="0.0" ixz="0.0" iyy="1" iyz="0.0" izz="1" />
            </inertial>
            <collision name="${prefix}_wheel_collision">
                <origin rpy="0 0 0" xyz="0 0 0" />
                <geometry>
                    <mesh filename="package://robot_description/models/laser_robot/omni_wheel/meshes/roda_omni.obj" scale="1 1 1" />
                </geometry>
            </collision>
            <visual name="${prefix}_wheel_visual">
                <origin rpy="0 0 0" xyz="0 0 0" />
                <geometry>
                    <mesh filename="package://robot_description/models/laser_robot/omni_wheel/meshes/roda_omni.obj" scale="1 1 1" />
                </geometry>
            </visual>
        </link>
    </xacro:macro>

    <xacro:omni_wheel prefix="left_front" pos_X="-0.214" pos_Y="-0.176" pos_Z="0.0508" pos_r="0" pos_p="1.57" pos_y="0" />
    <xacro:omni_wheel prefix="left_rear" pos_X="-0.214" pos_Y="0.176" pos_Z="0.0508" pos_r="0" pos_p="1.57" pos_y="0" />
    <xacro:omni_wheel prefix="right_front" pos_X="0.193" pos_Y="-0.176" pos_Z="0.0508" pos_r="0" pos_p="1.57" pos_y="0" />
    <xacro:omni_wheel prefix="right_rear" pos_X="0.193" pos_Y="0.176" pos_Z="0.0508" pos_r="0" pos_p="1.57" pos_y="0" />

</robot>