<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <joint name="joint_right_rear_wheel" type="fixed">
        <parent link="carcaca" />
        <child link="right_rear_wheel" />
        <origin rpy="0 1.57 0" xyz="0.193 0.176 0.0508" />
    </joint>

    <gazebo reference="right_rear_wheel">
        <selfCollide>true</selfCollide>
        <mu1 value="0.09" />
        <mu2 value="0.09" />
        <kp value="10000000.0" />
        <kd value="10000" />
        <fdir1 value="0 0 0" />
    </gazebo>

    <link name="right_rear_wheel">
        <inertial>
            <mass value="0.01" />
            <origin rpy="0 0 0" xyz="0 0 0" />
            <inertia ixx="1" ixy="0.0" ixz="0.0" iyy="1" iyz="0.0" izz="1" />
        </inertial>
        <collision name="right_rear_wheel_collision">
            <origin rpy="0 0 0" xyz="0 0 0" />
            <geometry>
                <mesh filename="package://robot_description/models/laser_robot/omni_wheel/meshes/roda_omni.obj" scale="1 1 1" />
            </geometry>
        </collision>
        <visual name="right_rear_wheel_visual">
            <origin rpy="0 0 0" xyz="0 0 0" />
            <geometry>
                <mesh filename="package://robot_description/models/laser_robot/omni_wheel/meshes/roda_omni.obj" scale="1 1 1" />
            </geometry>
        </visual>
    </link>
</robot>