<?xml version="1.0"?>
<robot name="my_robot" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!--=========================== PLUGINS ===========================-->

  <xacro:include filename="$(find robot_description)/urdf/robot.gazebo.xacro" />

  <!--=========================== ROBOT PARTS ===========================-->

  <xacro:include filename="$(find robot_description)/urdf/robot_parts/carcaca.xacro" />

  <xacro:include filename="$(find robot_description)/urdf/robot_parts/traction_wheel.xacro" />

  <xacro:include filename="$(find robot_description)/urdf/robot_parts/tray.xacro" />

  <xacro:include filename="$(find robot_description)/urdf/robot_parts/piston.xacro" />

  <xacro:include filename="$(find robot_description)/urdf/robot_parts/omni_wheel.xacro" />

  <!--=========================== SENSORS ===========================-->

  <xacro:arg name="sensor_imu" default="true" />

  <xacro:arg name="sensor_lidar" default="true" />

  <xacro:arg name="sensor_rplidar" default="true" />

  <xacro:arg name="sensor_camera" default="true" />

  <xacro:if value="$(arg sensor_imu)">
    <xacro:include filename="$(find robot_description)/urdf/sensors/imu.xacro" />
  </xacro:if>

  <xacro:if value="$(arg sensor_lidar)">
    <xacro:include filename="$(find robot_description)/urdf/sensors/lidar.xacro" />
  </xacro:if>

  <xacro:if value="$(arg sensor_rplidar)">
    <xacro:include filename="$(find robot_description)/urdf/sensors/rplidar.xacro" />
  </xacro:if>

  <xacro:if value="$(arg sensor_camera)">
    <xacro:include filename="$(find robot_description)/urdf/sensors/camera.xacro" />
  </xacro:if>

</robot>